@import 'tailwindcss';

@font-face {
  font-family: aessFont;
  src: url('../../public/font/BankGothic\ Md\ BT.ttf');
}

@font-face {
  font-family: aessFontReg;
  src: url('../../public/font/BankGothic Bold.ttf');
}
@font-face {
  font-family: DMsans;
  src: url('../../public/font/DMSans-Regular.ttf');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: DMsans, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0);


}
header {
  overflow-x: hidden;
}

a {
  cursor: pointer;
}



body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/website.png');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.6; /* Adjust the opacity */
  z-index: -1; /* Keeps it behind content */
}

.fontheader {
  font-family: aessFont;
}

.fontBold {
  font-family: aessFontReg;
}

.content {
  width: 12rem;
  height: 60px;
  background-image: url('../../public/button.svg');
  background-color: rgba(0, 0, 0, 0.541);
  background-size: cover;
  background-position: center;

  background-repeat: repeat;
  background-clip: padding-box;
  border-radius: 5rem;
  position: relative;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;

  align-items: center;
  align-content: center;
}

.content::before {
  border-radius: 5rem;
  content: '';
  background-image: radial-gradient(circle at 100%, #4690d4 0%, #6ebff4 22%, #a5efff 100%);
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  position: absolute;
  z-index: -1;
}
